/* Settings */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #413d4b;
    line-height: 1.6;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.light__text {
    font-weight: 100;
}

/* Container */
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* Block settings*/
.block__title {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.block__header {
    text-align: center;
}

.block__header::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #bebebe;
    margin: 15px auto;
}

/* Header */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    padding-top: 15px;
    font-weight: 100;
    font-size: 30px;
    color: #00e0d0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.logo__text {
    margin-left: 10px;
}

.nav {
    padding-top: 35px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
    display: inline-block;
    vertical-align: top;
}

.nav a:hover {
    color: #00e0d0;
}

/* Intro */
.intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 630px;
    background: url("../img/introbg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 780px;
    margin: 200px auto 0px auto;
    text-align: center;
}

.intro__title {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 32px;
    text-align: center;
}

.intro__title::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    margin: 25px auto;
}

.intro__text {
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    margin-bottom: 65px;
}

.intro__footer {
    padding-top: 100px;
    bottom: 0;
}

.intro__switcher {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: #fff 1px solid;
    border-radius: 5px;
    margin-right: 5px;
}

.active__switcher {
    background-color: #00e0d0;
    border: #00e0d0 1px solid;
}

/* Buttons */
.btn {
    display: inline-block;
    text-transform: uppercase;
    color: #00e0d0;
    border: #00e0d0 1px solid;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    min-width: 120px;
}

/* Story block */
.story {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    background: #fff;
    color: #413d4b;
}

.story__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 70px 0px;
    width: 880px;
    margin: 0 auto;
}

.story__text {
    margin-left: 100px;
}

.story__text p {
    font-weight: 300;
    padding-bottom: 32px;
    margin: 0;
}

/* Video block */
.video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 550px;
    background: url("../img/video_bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.video__block {
    width: 100%;
    max-width: 780px;
    margin: 220px auto 0px auto;
    text-align: center;
}

.video__text {
    color: #fff;
    font-weight: 900;
    font-size: 10px;
    text-transform: uppercase;
}

/* Expertise block*/
.expertise__block {
    width: 100%;
    max-width: 960px;
    height: 755px;
    margin: 70px auto 0px auto;
    text-align: center;
}

.expertise__pannels {
    text-align: center;
    width: 100%;
    padding-top: 40px;
}

.pannel {
    display: inline-block;
    width: 33%;
    min-width: 300px;
    padding: 40px 20px;
}

.pannel p {
    margin-top: 20px;
}

.pannel h3 {
    font-weight: 900;
    font-size: 14px;
    margin-top: 20px;
}

/* Team block */
.team {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 715px;
    background: url("../img/team_bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

.team__employees {
    margin-top: 50px;
}

.team__block {
    width: 100%;
    max-width: 960px;
    margin: 50px auto 0px auto;
    text-align: center;
}

.employee {
    width: 215px;
    height: 308px;
    border: #fff 1px solid;
    margin: 10px;
    display: inline-block;
}

.employee p {
    font-weight: 100;
    font-size: 14px;
}

.employee_photo {
    content: "";
    width: 214px;
    height: 230px;
    background-color: #fff;
    margin-bottom: 15px;
}

.team__btn {
    margin: 20px 0;
}

.team__btn p {
    margin: 40px 0;
}

/* Works block */
.works__header {
    width: 100%;
    max-width: 960px;
    margin: 50px auto 0px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
}

.works__header a {
    display: block;
    padding-top: 10px;
    text-decoration: none;
    color: #413d4b;
}

.works__pannel {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.works__pannel--item {
    width: 288px;
    height: 200px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.item_1 {
    background-color: #444;
}

.item_2 {
    background-color: #555;
}

.item_3 {
    background-color: #666;
}

.item_4 {
    background-color: #777;
}

.works__footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Estimates block */
.estimates {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background: url("../img/team_bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

.estimates__block {
    text-align: center;
}

.estimate__quotes {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    padding-top: 40px;
}

.estimate__text {
    margin: 0 auto;
    margin-top: -30px;
    display: block;
    width: 780px;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 200;
}

.estimates__peaple {
    margin-top: 50px;
    text-align: center;
}

.peaple__text {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.peaple__photo {
    text-align: center;
    height: 100px;
}

.peaple__photo img {
    display: inline-block;
    vertical-align: middle;
}

.peaple__photo a {
    margin: 10px;
}

/* Contact block */
.contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 650px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact__block {
    display: inline-block;
    margin-top: 50px;
    vertical-align: top;
    margin-right: 70px;
}

.contact__form {
    width: 480px;
    margin-top: 20px;
}

.contact__form input {
    width: 460px;
    height: 46px;
    border: 1px solid #bbb;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 100;
}

.contact__form textarea {
    width: 460px;
    height: 200px;
    border: 1px solid #bbb;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.img__column-1 {
    display: inline-block;
}

.img__column-1 img {
    display: block;
    padding-top: 40px;
}

.img__column-2 {
    display: inline-block;
}

.img__column-2 img {
    display: block;
    padding-top: 40px;
    margin-left: 30px;
}

/* Footer block */
.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 350px;
    background: url("../img/footer_bg.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

.footer__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 60px;
}

.footer__block {
    display: inline-block;
    width: 310px;
}

.footer__block p {
    margin-top: 20px;
}

.footer__block--title {
    height: 50px;
    line-height: 50px;
}

.footer_logo--img {
    display: inline-block;
}

.footer__logo--text {
    color: #00e0d0;
    font-weight: 100;
    font-size: 28px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
}

.title__text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
}

.adress__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
}

.block__icon {
    display: inline-block;
    margin-left: 10px;
}

.block__text {
    display: inline-block;
    margin: 0 0 0 10px;
}

.subscribe__form {
    height: 45px;
}

.subscribe__input {
    width: 211px;
    height: 45px;
    border: 1px solid #bbb;
    margin-left: 10px;
    background-color: transparent;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
    padding-left: 15px;
    vertical-align: bottom;
}

.subscribe__button {
    margin-top: 5px;
    width: 70px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0px;
    vertical-align: bottom;
}

.social {
    margin: 28px 10px;
}

.social img {
    margin-right: 8px;
}

.copyright {
    margin-top: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__nav {
    display: inline-block;
}

.footer__nav a {
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 15px;
    color: #fff;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

.footer__nav a:hover {
    color: #00e0d0;
}

.copyright__text {
    display: inline-block;
}
